
<!-- Display article errors  -->
<!-- <%= render 'share/errors', obj: @article %> -->
<%= render 'share/errors', obj: @article %>
<!-- Form for create new article  -->
<div class="row">

    <%= form_for @article do |f| %>
      <div class="form-group row">
        <div class="control-label col-sm-3">
          <%= f.label :title, "Title",class:"fit-right" %></br>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control",placeholder: "Title of article", autofocus: true %><br/>
        </div>
      </div>
      <div class="form-group row">
        <div class="control-label col-sm-3">
          <%= f.label :description, "Description", class: "fit-right" %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, size: "90x12"  ,class:"form-control",placeholder:"Body of article" %><br/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
           <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <%= f.submit class: "btn btn-primary btn-lg" %><br/>
        </div>
        [<%= link_to "Cancel request and return to articles listing", articles_path %>]
      </div>

    <% end %>


</div>
