<h1 align="center" style="font-size:3em; font-weight:bold;">Users Listing</h1></br>
<div align="center">
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 jumbotron">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title"><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count,"article")%></small></li>
          <% if logged_in? and current_user.admin? %>
            <li><%= link_to "Delete this user", user_path(user), method: :delete,
                data: { confirm: "Are you sure you want to delete the user and all their articles?" } %></li>
          <% end %>
        </div>
        <div class="col-md-3"></div>
      </div>
  <% end %>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>
